
    body{
      padding-top: 0px;

      font-family: 'Segoe UI', sans-serif;
      background: #F2EEEE;

    }

    .topbar{

      background: #ffffffde;
      width: 100%;
      height: 65px;
      top: 0px;
      position: absolute;
      left: 0;
      border-bottom-left-radius: 10px;
    box-shadow: 1px 3px 16px 0px #00000047;
    border-bottom-right-radius: 10px;
    }


    #container{
     width: 805px;
     margin-top:100px;
     margin-left:196px;
     border-radius:10px;

    }

    #square1{
      background:#FAFAFA;
      width:440px;
      height:440px;
      margin-left:37px;
      border-radius:inherit;
      box-shadow: 1px 3px 16px 0px #00000047;
    }

    #square2{
      background:#FAFAFA;
      width:440px;
      height:210px;
      margin-top:100px;
      margin-left:701px;
      position: absolute;
      top:0px;
      left:0px;
      border-radius:inherit;
      box-shadow: 1px 3px 16px 0px #00000047;

    }


    #square3{
      background:#FAFAFA;
      width:440px;
      height:200px;
      margin-top:100px;
      margin-left:701px;
      position: absolute;
      top:230px;
      left:0px;
      border-radius:inherit;
      box-shadow: 1px 3px 16px 0px #00000047;
      padding-top: 10px;
    }


    #pic{
    height:170px;
    left: 135px;
    position: relative;
    border-radius:inherit;
    box-shadow: 0px 4px 14px #1c4e009e;
    margin-top:20px;
    }

    #name{
    position: relative;
    top:30px;
    font-size:20px;
    right:21px;
    color: #313131;
    font-family: "Quicksand"
    }


    .checked {
  color: #67B7FB;
  }
  .rating{

    position: relative;
    top: 40px;
    left: 170px;

  }

  .infocontainer{
    margin-top: 50px;
    margin-left: 40px;


  }
  .info{
   width:374px;
   height:20px;
   margin-top:10px;
   font-size:18px;

  }

  .description{


  font-size:18px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

  }

#descriptiontxt{
margin-top: 10px;

}


#photostitle{

  margin: 26px;
font-size: 20px;
}
  .photocontainer{
    width:402px;
    height:122px;
    margin-top:6px;
    margin-left:25px;
    margin-right:25px;
    border-radius:inherit;
  }
  .imgs{
    width:122px;
    height:122px;
    margin-right: 9px;
    margin-top:4px;
    border-radius: 10px;
    border:none;
    object-fit: cover;
  }
#viewallpic{

  margin-top: 8px;
margin-left: 169px;
padding: 7px;
border-radius: inherit;
border: none;
background: linear-gradient(135deg, #A0D0F9, #67B7FB);
color: #ffffffeb;
}
  .square4{
    background: #ffffffde;
    margin-left: 37px;
    margin-top: 20px;
    border-radius: inherit;
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:25px;
    box-shadow: 1px 3px 16px 0px #00000047;
    width: 850px;
  }

  .yourcomment{
   height:45px;


  }

  #input1{
    position: absolute;
        height: 35px;
        margin-left: 10px;
        width: 784px;
        border: none;
        background-color: #00000000;
        padding-left: 10px;
        border-bottom: solid;
        border-width: 2px;
        border-color: #9d9898;
  }

  #input1:focus{
outline: none;

  }

  #input1:focus{
  border:none;


  }
  #yourcommentpic{
   width:36px;
   height:36px;
   background:black;
   border-radius:6px;
   object-fit: cover;
  }

  .commentsection{
    margin-top:25px;
  }

  .comment{

  padding-right: 60px;
  }

  .commentimg{

    width:36px;
    height:36px;
    background:black;
    border-radius:6px;
    margin-right:10px;
    object-fit: cover;
  }

  .cousername{
    top: -20px;
    position: relative;
    font-weight: bold;
    font-size: 16px;
  }
  .commenttxt{
    position: relative;
    top: -20px;
    left: 50px;
    font-size: 15px;
  }
