@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(//db.onlinewebfonts.com/c/7d411bb0357d6fd29347455b7d207995?family=JF+Flat);
    body{
      padding-top: 0em;
      margin: 0;
      font-family: 'Roboto', 'jf flat';
      background: #eeeef2;
      transition: all .4s ease-in-out;

    }


    #container{
      margin-top: 3.4375em;
      margin-left: 16em;
      border-radius: 0.625em;
      transition: all .4s ease-in-out;

    }

    #container1{
      width: 61.5625em;
      margin-top: 0.3125em;
      margin-left: -0.875em;
      border-radius: 0.625em;

    }

    #square1{
      background: #FAFAFA;
      width: 27.5em;
      height: 28.75em;
      border-radius: inherit;
      box-shadow: 0.0625em 0.1875em 1em 0em #00000047;
      display: inline-block;
      vertical-align: top;
      margin-right: 16px;
      transition: all .4s ease-in-out;
    }

    #square1a {
    background: #FAFAFA;
    width: 27.5em;
    height: -webkit-fill-available;
    border-radius: inherit;
    box-shadow: 0.0625em 0.1875em 1em 0em #00000047;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    padding-bottom: 32px;
}

.s1s2{
display: inline-block;
border-radius: inherit;
transition: all .4s ease-in-out;
}

    #square2{
      background: #FAFAFA;
          width: 27.5em;
          height: 200px;
        // mobile  margin-top: 1.25em;
          border-radius: inherit;
          box-shadow: 0.0625em 0.1875em 1em 0em #00000047;
          padding-top: 0.625em;
          vertical-align: top;
          transition: all .4s ease-in-out;


    }


    #square3{
      background: #FAFAFA;
          width: 27.5em;
          height: 13.75em;
          margin-top: 1.25em;
          border-radius: inherit;
          box-shadow: 0.0625em 0.1875em 1em 0em #00000047;
          padding-top: 0.625em;
          vertical-align: top;
          transition: all .4s ease-in-out;

      }



    #pic{
    height:10.625em;
    width:10.625em;
    border-radius:inherit;
    box-shadow: 0em 0.25em 0.875em #00000047;
    margin-top:1.25em;
    margin-left: auto;
    margin-right: auto;
    display: block;
        object-fit: cover;
        cursor: pointer;
    }

    #name{
    position: relative;
    top:1.1875em;
    font-size:1.25em;
    display: flex;
    justify-content: center;
    color: #313131;
    font-family: "Quicksand"
    }


    .checked {
  color: #288ecf;
  }

  .unchecked{
    color: #c7c5c5;
  }


  .rating{

        margin: 0 auto;
        position: relative;
        top: 1.875em;
        text-align: center;

  }


  .infocontainer{
    margin-top: 1.9625em;
    margin-left: 2.5em;
}
  .infocontain2{
    margin-top:1em;
    margin-left: 2.5em;


  }
  .info{
   width:23.375em;
   height:1.25em;
   margin-top:0.625em;
   font-size:1em;

  }

  .info2{
   width:100%;
   height:1.25em;
   margin-top:0.9375em;
   font-size:1.125em;

  }

#jobinp{
  margin-top: -4px;
margin-bottom: 16px;
margin-left: 0;
width: 88%;
}



  .description{



  margin-top: 0.8125em;
  margin-left: 1.25em;
  margin-right: 1.25em;

  }

  .description2{



  margin-top: 0.8125em;
  margin-left: 1.25em;
  margin-right: 1.25em;

  }
.titles{
font-size: 1.25em;
  margin: 20px;

}
#descriptiontxt{
margin-top: 0.625em;

}


#photostitle{

  margin: 1.625em;
}
.photocontainer {
    width: 100%;
    height: 7.625em;
    margin-top: 0.375em;
    border-radius: inherit;
    display: flex;
justify-content: center;
}


  .photocontainer2{
    width:25.125em;
    height:7.625em;
    margin-top:1.1875em;
    margin-left:1.5625em;
    margin-right:1.5625em;
    border-radius:inherit;
  }
  .imgs {
width: 26%;
height: 7.625em;
margin-right: 0.5625em;
margin-top: 0.25em;
border-radius: 0.625em;
border: none;
object-fit: cover;
cursor: pointer;
}
.imgs2{
  width:7.625em;
  height:7.625em;
  margin-right: 0.5625em;
  margin-top:0.25em;
  border-radius: 0.625em;
  border:none;
  object-fit: cover;
  cursor: pointer;
}
#viewallpic{

  margin-top: 1.125em;
      margin-left: 12.125em;
      padding: 0.625em;
      border-radius: inherit;
      border: none;
      background: linear-gradient(135deg, #0077B6, #0096C7,#03AFD1,#4896E4);
      color: #ffffffeb;
      font-family: roboto ,sans-serif;
      box-shadow: 0em 0.25em 0.75em 0em #00000059;
      font-size: 1em;
      background-size: 300% 100%;
      cursor: pointer;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}

#viewallpic:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}
  .square4{
    background: #ffffffde;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    border-radius: inherit;
    padding-top:1.5625em;
    padding-left:1.5625em;
    padding-right:1.5625em;
    padding-bottom: 2.5625em;
    box-shadow: 0.0625em 0.1875em 1em 0em #00000047;
    width: 850px;


  }

  .yourcomment{
   height:2.8125em;
   display: inline-block;
   margin-top: 1.25em;
       width: 100%;


  }

  #input1{
    height: 2.1875em;
        width: 57%;
        padding-left: 0.625em;
        border: none;
        background-color: #00000000;
        border-bottom: solid;
        border-width: 0.125em;
        border-color: #9d9898;
    //    padding-right: 5.125em;
        box-sizing: border-box;
    margin-left: 50px;
  }
  #rater {
      top: 12px;
      margin-left: -3px;}

  #input1:focus{
outline: none;

  }


  #input2{
    position: absolute;
    height: 2.1875em;
    margin-left: 2.9375em;
    width: 45em;
    padding-left: 0.625em;
    border: none;
    background-color: #00000000;
    border-bottom: solid;
    border-width: 0.125em;
    border-color: #9d9898;
  }


    #input2:focus{
  outline: none;

    }

#submitreview2{
position: relative;
top : 0.8125em;
      background: linear-gradient(135deg, #0077B6, #0096C7,#03AFD1,#4896E4);
      padding: 0.5em;
      color: #eeeefb;
      border-radius: 0.3125em;
      cursor: pointer;
      background-size: 300% 100%;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}

#submitreview2:hover {
background-position: 100% 0;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;


}


#submitreview3{
  position: relative;
      top: 0.4375em;
      left: 49.375em;
      background: linear-gradient(135deg, #0077B6, #0096C7,#03AFD1,#4896E4);
      padding: 0.5em;
      color: #eeeefb;
      border-radius: 0.3125em;
      cursor: pointer;
      background-size: 300% 100%;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}

#submitreview3:hover {
background-position: 100% 0;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}

  #yourcommentpic{
   width:2.25em;
   height:2.25em;
   background:black;
   border-radius:0.375em;
   object-fit: cover;
   position: absolute;
  }

  .commentsection{
    margin-top:1.5625em;
  }

  .comment{

  padding-right: 3.75em;
  display: flex;
  }

  .commentimg{

    width:2.25em;
    height:2.25em;
    background:black;
    border-radius:0.375em;
    margin-right:0.625em;
    object-fit: cover;
  }

  .cousername{

    font-weight: bold;
    font-size: 1em;
  }
  .commenttxt{

    font-size: 0.9375em;
  }

  .profileeditbtn{
    background: linear-gradient(135deg, #A0D0F9, #67B7FB);
        border:none;
        border-radius: 0.25em;
        padding: 0.3125em;
        font-family: 'Roboto', 'sans-serif';
        font-size: inherit;
        cursor: pointer;
        background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

  }

  .profileeditbtn:hover {
      background-position: 100% 0;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;

  }

/* edit*/

  .btns{

    margin-left: 43.125em;
    margin-top: 0.9375em;

  }


  .btn{

  padding-top:0.3125em;
  padding-left:0.3125em;
  padding-right:0.3125em;
  padding-bottom:0.3125em;
  background: linear-gradient(135deg, #C61117, #E13E3E,#C61117,#E13E3E);
  margin-right:0.625em;
  border-radius: 0.3125em;
  box-shadow: 0em 0.25em 0.75em 0em #00000059;
    border: none;
    text-decoration: none;
color: #ffffffeb;
font-family: roboto ,sans-serif;
background-size: 300% 100%;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}

.btn:hover {
background-position: 100% 0;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

  }

  .btn1{

padding: 0.625em;
  background: linear-gradient(135deg, #0077B6, #0096C7,#03AFD1,#4896E4);
  margin-right:0.625em;
  border-radius: 0.625em;
  box-shadow: 0em 0.25em 0.75em 0em #00000059;
    border: none;
    text-decoration: none;
color: #ffffffeb;
font-family: roboto ,sans-serif;
background-size: 300% 100%;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}

.btn1:hover {
background-position: 100% 0;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

  }

#btn2{

  margin-left: 6.25em;
}
  #save{

    padding-top:0.3125em;
    padding-left:1.375em;
    padding-right:0.625em;
    padding-bottom:0.3125em;
    background: linear-gradient(135deg, #0077B6, #0096C7,#03AFD1,#4896E4);
    margin-right:0.625em;
    border-radius: 0.3125em;
    box-shadow: 0em 0.25em 1.25em 0em #0000006b;
    border: none;
    font-size: 1em;
    font-family: 'Quicksand';
    cursor: pointer;
    color : #ffffffeb;
    font-family: roboto ,sans-serif;
    background-size: 300% 100%;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}

#save:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  }

  .icn{
    padding: 0em;
    min-width: 1.25em;
    position: relative;
    left: -4.6875em;
    color :#ffffffeb;
  }


  .inputinf{

        margin-top: 0.4375em;
        height: 1.5625em;
        border: none;
        padding-left: 0.9375em;
        border: none;
        background-color: #00000000;
        border-bottom: solid;
        border-width: 0.125em;
        border-color: #9d9898;
  }

    .inputinf:focus{

outline: none;

    }

  .inputname{


    margin-top: 0.4375em;
    height: 2.1875em;
    border: none;
    width: 4.0625em;
    padding-left: 0.9375em;
    border: none;
    background-color: #00000000;
    border-bottom: solid;
    border-width: 0.125em;
    border-color: #9d9898;
  }
.inputname:focus{
  outline: none;
}

#inputname2{


  }

  .nameinp{
    text-align: center;
  }
  .descriptioninp{

        font-size: 1.125em;
        margin-top: 0.9375em;
        margin-right: 1.25em;
        height: 7.625em;
        width: -webkit-fill-available;
        background: #00000000;
        resize: none;
        padding-top: 0.625em;
        padding-left: 0.625em;
        border-color: #9d9898;
        border-width: 0.125em;
        border-radius: 0.5em;
  }
  .descriptioninp:focus{
outline: none;
  }

  #uploadbtn{
    font-size: 5.375em;
        width: 170px;
        position: relative;
        text-align: center;
        z-index: 1;
        background: #1f1f1f6e;
        border-radius: inherit;
        opacity: 0;
        color: #ffffffeb;
        display: block;
        margin: 0 auto;
        margin-top: -170px;
        padding-bottom: 42px;
        padding-top: 42px;

  }

      #uploadbtn:hover{
        opacity: 100%;
        cursor: pointer;
      }

      #picsbtn {
          width: 440px;
          height: 230px;
          opacity: 0;
          font-size: large;
          font-family: 'Quicksand';
          border: none;
          border-radius: inherit;
          color: #ffffffeb;
          position: absolute;
          margin-top: -10px;
      }

  #picsbtn:hover{
  opacity: 1;
  background: #1f1f1f6e;
  cursor: pointer;
  }

  #picsbtn:focus{
  border-radius: 0.625em;
  outline: none;
  }

  .piccontainer{

    display: inline-block;
  }


  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    backdrop-filter: blur(5px);
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #FAFAFA;
        margin: 15% auto;
        width: 50%;
        border-radius: inherit;
        padding-top: 0.625em;
        padding-bottom: 1.5625em;
        padding-left: 1.5625em;
        padding-right: 1.5625em;
        border-radius: 0.9375em;
        box-shadow: 0em 0.25em 1.25em 0em #0000006b;
  }




  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 1.75em;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .closepic {
    color: #aaa;
    float: right;
    font-size: 1.75em;
    font-weight: bold;
    background: transparent;
    border:none;
    position: absolute;
    margin-left: -2.3125em;
  }

  .closepic:hover,
  .closepic:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }

  .photocontainermodal{
  margin-top: 2.1875em;
 text-align: center;
  }




  /* Style the Image Used to Trigger the Modal */
  #myImgx {
    border-radius: 0.3125em;
    cursor: pointer;
    transition: 0.3s;
  }



  /* The Modal (background) */
  .modalx {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
  //  padding-top: 1.5625em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    backdrop-filter: blur(5px);
    border-radius: 0.9375em;
  }

  /* Modal Content (Image) */
  .modal-contentx {
    margin: auto;
    display: block;
    max-width: 43.75em;
    border-radius: 0.9375em;
    max-height: 36.875em;
    object-fit: contain;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 43.75em;
    text-align: center;
    color: #ccc;
    padding: 0.625em 0;
    height: 9.375em;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-contentx, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  .closex {
    position: absolute;
    top: 0.9375em;
    right: 2.1875em;
    color: #f1f1f1;
    font-size: 2.5em;
    font-weight: bold;
    transition: 0.3s;
  }

  .closex:hover,
  .closex:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }


  .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 1em;
      margin-top: -58.5px;
      color: white;
      font-weight: bold;
      font-size: 2.1875em;
      transition: 0.6s ease;
      border-radius: 0 0.1875em 0.1875em 0;
      user-select: none;
      -webkit-user-select: none;
  }

.f{
  margin-top: 3.4375em;
      margin-left: 0;
}

  /* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.1875em 0 0 0.1875em;
}

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }



  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 43.75em){
    .modal-contentx {
      width: 100%;
    }
  }



  .deletepic{

    position: absolute;
  margin-left: -1.5em;
  margin-top: 0.1875em;
  border-radius: 0.375em;
  background: #d2dcd0;
  border-width: 0.0625em;
  }

  #uploadpicbtn{
    background: linear-gradient(135deg, #0077B6, #0096C7,#03AFD1,#4896E4);
    border-radius: 0.25em;
    padding: 0.3125em;
    cursor: pointer;
    color: #ffffffeb;
    font-family: roboto ,sans-serif;
    background-size: 300% 100%;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}

#uploadpicbtn:hover {
background-position: 100% 0;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

  }

  #b1{
    background: linear-gradient(135deg, #0077B6, #0096C7,#03AFD1,#4896E4);
        border:none;
        border-radius: 0.25em;
        padding: 0.3125em;
        font-family: 'Quicksand';
        font-size: inherit;
        cursor: pointer;
        color: #ffffffeb;
        font-family: roboto ,sans-serif;
        background-size: 300% 100%;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}

#b1:hover {
background-position: 100% 0;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;


  }


  #savepicbtn:focus{
outline-width: 0.0625em;
}


  .piceditbtn{

    margin-left: 31.25em;
  margin-top: 1.875em;

  }

  img[src="#"] {
     display: none;
  }

  img[src=""] {
     display: none;
  }

.ratingcontain{



}


.ratingcontain3{

}
#profileeditbtnp{
  margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 15px;
}

@media (hover: none) {
    #uploadbtn{
      opacity: 1;
    }
      #picsbtn{
        opacity: 1;
        background: #1f1f1f6e;
      }
}

@media only screen and (min-width: 1380px){

}
@media only screen and (min-width: 1155px){
  #input1{
    width: 72%
  }
}

@media only screen and (max-width: 1155px){
    #square2{
      margin-top: 20px;
    }
    .square4{
      width: 100%;
      margin-right:20px;
      -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #container {
margin-top: 3.4375em;
border-radius: 0.625em;
margin-left: auto;
margin-right: auto;
width: 440px;
}
.btns{
  margin-left: 0;
  display: grid;
}
.btn{
  text-align: center;
  margin-right: 0;
}
#save{
  margin-top: 10px;
  margin-right: 0;
}
    }
    @media only screen and (max-width: 920px) {
#container{
      margin-top: 100px;

    }

    .closex {
    position: absolute;
    top: 18%;
    right: 10%;
    color: #f1f1f1;
    font-size: 2.5em;
    font-weight: bold;
    transition: 0.3s;
}
}
    @media only screen and (max-width: 700px) {
      #container {
  border-radius: 0.625em;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
}
.square4{
  width: 100%;
  margin-right:20px;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    }

@media only screen and (max-width: 500px){
    #container{
      width: 84%;
      margin-left: auto;
      margin-right: auto;
    }
      #square1 , #square1a{
        width: 100%;

      }
      .s1s2{
        width: 100%
      }
      .description {
  font-size: 3.5vw;}
      #square2{
        width: 100%;
        margin-right:20px;
      }
      #square3{
        width: 100%;
        margin-right:20px;
      }
  #input1{
          width: calc(100% - 55px);
       }
  #rater{
    margin-left: 50px;
  }

  #submitreview2{
  float: right;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0.5em;
    margin-top: -41px;
    color: white;
    font-weight: bold;
    font-size: 2.1875em;
    transition: 0.6s ease;
    border-radius: 0 0.1875em 0.1875em 0;
    user-select: none;
    -webkit-user-select: none;
}

}


/*

var a = screen.width/1366;
var b = "scale("+a+")"
document.body.style.transform = b

transform-origin: left;
*/
