@import url(https://fonts.googleapis.com/css?family=Roboto:300);


body{

background: #eeeef2;
}


.login-form{
  width: 35%;
      display: block;
      margin: auto;
      text-align: center;
      margin-top: 150px;
      background: #FAFAFA;
      padding: 50px 0;
      box-shadow: 1px 3px 16px 0px #00000047;
      border-radius: 10px;
      font-family: 'Roboto', sans-serif;
}


.form-title{
    margin-bottom: 30px;
}

.form-group{

  display: grid;
    width: 75%;
    margin: auto;
}

#label1{
    padding: 20px;
}

#input3{

  height: 30px;
      font-family: "Roboto", sans-serif;
      outline: 0;
      background-color: #00000000;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      border-bottom: solid;
      border-width: 2px;
      border-color: #9d9898;

}

.login-btn{

  margin-top: 20px;
    background: linear-gradient(135deg, #0077B6, #0096C7,#03AFD1,#4896E4);
    border: none;
    border-radius: 10px;
    color: #ffffffeb;
    box-shadow: 0px 4px 6px 0px #00000042;
    padding: 11px;
    font-family: 'roboto' ,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: medium;
    text-decoration: none;
    cursor: pointer;
    background-size: 300% 100%;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}
.login-btn:hover{

  background-position: 100% 0;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}
#message{


}


.msg{
  margin-left: 65px;
  margin-right: 65px;
}
