body{
  padding-top: 0px;

  font-family: 'Segoe UI', sans-serif;
  background: #F2EEEE;

}


form{

  margin-top: 100px;
    margin-left: 25%;
}

#myDIV{
  display: inline;
}

.searchbar{
  margin-top: 100px;
      margin-left: 33px;
      display: inline;

}

.searchinput {
  height: 30px;
  width: 28%;
  background: #ffffff00;
  padding-left: 10px;
  border: none;
  font-size: 18px;
  font-family: 'Quicksand';
  border-bottom: 2px solid #9d9898;
  }

.dropdown{

  height: 32px;
background: #FAFAFA;
border: none;
border-radius: 5px;
margin-left: 10px;
font-family: 'Quicksand';
box-shadow: 0px 3px 8px 0px #00000047;
}
.searchbtn{
  margin-left: 10px;
      border: none;
      background: linear-gradient(135deg, #A0D0F9, #67B7FB);
      border-radius: 5px;
      box-shadow: 0px 3px 8px 0px #00000047;
      color:#ffffffeb;
      padding: 9px;

}
.resimg{
height:60px;
margin:15px;
border-radius:7px;
width: 60px;
object-fit: cover;
}
.resultcontainer{

width: 58.3%;
background: #FAFAFA;
margin-left: 300px;
margin-top: 20px;
border-radius: 10px;
display:flex;
box-shadow: 1px 3px 16px 0px #00000047;
}

.info{

margin-top: 5px;
margin-bottom: 0px;
}

.infocontainer{

margin-top: 13px;
margin-bottom:13px;
}

.name{
  text-decoration: none;
color: black;
  font-weight:bold
}

#noresult{
margin:15px;
font-weight:bold;

}

#mySelectwilaya{

}

#mySelectdaira{
  width: 100px;
}

#mySelectcommune{

}
