@import url(//db.onlinewebfonts.com/c/7d411bb0357d6fd29347455b7d207995?family=JF+Flat);

body{
  padding-top: 0px;
  font-family: 'poppins', 'DroidArabicKufiRegular';
  background: #f3f2f2c4;

}

.record{
  display: inline-block;
      margin: 10px 4px;
      cursor: pointer;
      position: relative;
      top: 5px;


}
.pagen{
  background: #fafafa;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0px #00000038;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#livesearch{
  background: #fafafa;

      position: absolute;
      display: none;
      left: 27.2%;
      margin-top: 35px;
      width: 22%;
      z-index: 2;
}

.hint{
  display: inline-block;
      width: calc(100% - 40px);
      padding: 1px 20px;
      cursor: pointer;
}

.hint:hover{
background: #008ffba6;

}

  .ad1 {
      width: 200px;
      height: 550px;
      background: #0081bb;
          margin-top: -88px;
      position: fixed;
      margin-left: calc(100% - 220px);

}
form{

  margin-top: 40px;
    margin-left: 18%;
}

#myDIV{
  display: inline;
}

.searchbar {
    margin-top: 100px;
    margin-left: 5%;
    display: inline;
}

.searchinput {
    width: 40%;
    height: 35px;
    border-radius: 20px;
    border: solid 2px #008ffb;
    font-family: 'JF Flat';
    padding-left: 20px;
    margin: auto;
    outline: none;
    background: #ffffffb8;
    backdrop-filter: blur(5px);
}



  .searchinput:hover {
      border-bottom: 2px solid #25b2fd;
  }

  .searchinput:focus {
    border-bottom: 2px solid #25b2fd;}




.dropdown {
    height: 33px;
    background: #008ffb;
    border: none;
    border-radius: 20px;
    text-align-last: center;
    margin-left: 10px;
    width: 117px;
    font-family: 'jf flat';
    box-shadow: 0px 3px 10px 0px #00000038;
    color: white;
    outline: none;
}

.dropdown2 {
    height: 33px;
    background: #eeeef200;
    border: none;
    margin-left: 10px;
    width: 117px;
    font-family: 'DroidArabicKufiRegular';
    color: #000000;
    border-bottom: 2px solid #9d9898;
    padding-left: 12px;
}

option {
    color: black;
    background: #fafafa;
}

.searchbtn{
  margin-left: 10px;
      border: none;
      background: #008ffb;
      border-radius: 20px;
      box-shadow: 0px 3px 10px 0px #00000038;
      color:#ffffffeb;
      padding: 5px 20px;
      font-family: 'DroidArabicKufiRegular';
      cursor: pointer;

      background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}

.searchbtn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}



@media only screen and (max-width: 1000px){
  .searchbtn {
    margin: 10px 40% 0px ;
    margin-left: 50%;
    transform: translateX(-50%);
}
}


@media only screen and (max-width: 720px){

  .searchinput {
      width: 80%;
    }
#livesearch{
  left: 9%;
width: 79.1%;
}
    #myDIV {
        display: block;
        text-align: center;
        margin: 10px auto 0;
    }
form{
  margin-left: 0;
}
.searchbtn{

  margin-left: 50%;
  transform: translateX(-50%);
}
}
@media only screen and (max-width: 450px){
.dropdown{
  margin: 10px;
}

}


.resimg {
    height: 80px;
    margin: -20px 20px 10px -20px;
    border-radius: 40px;
    width: 80px;
    object-fit: cover;
        box-shadow: 0px 3px 10px 0px #00000038;
}


.resultcontainer {
    width: 41%;
    background: #FFFFFF;
    margin-top: 20px;
    border-radius: 10px;
    display: inline-flex;
        box-shadow: 0px 3px 10px 0px #00000038;
    margin: 35px 71px 0;
    margin-right: 0px;
    padding-right: 4px;
}

.resultscontainer{
  width: 70%;
    margin: auto;
}
.info{

  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-family: 'DroidArabicKufiRegular';
}

.infop{

  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-family: 'poppins';
}

/*
p{
font-size: 15px;
    position: relative;
    top: -5px;
}*/

.infocontainer{

margin-top: 13px;
margin-bottom:8px;
}

.name{
  text-decoration: none;
color: black;
  font-weight:bold;
  font-family:'poppins' , 'DroidArabicKufiRegular';
}

#noresult{
margin:15px;
font-weight:bold;

}

#mySelectwilaya{

}

#mySelectdaira{
  width: 100px;
}

#mySelectcommune{

}


@media only screen and (max-width: 1300px){
  .resultcontainer {
    width: 48%;
  }
  .resultscontainer{
    width: auto;
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media only screen and (max-width: 1100px){
  .ad1{
    position: relative;
    width: 400px;
    height: 100px;
    margin: 10px auto ;
  }
}

@media only screen and (max-width: 1000px){
  .resultcontainer {
    width: 100%;
  }
  .resultscontainer{
    width: auto;
    margin: 0 50px 0 200px;
  }
}

@media only screen and (max-width: 920px){
  .resultscontainer{
margin: auto;
width: 80%;
}

}

@media only screen and (max-width: 750px){

  .resultcontainer {
    width: 100%;
  }
  .resultscontainer{
    width: 95%;
    margin: auto;
  }
}
}
