@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(//db.onlinewebfonts.com/c/7d411bb0357d6fd29347455b7d207995?family=JF+Flat);


.login-page {
    width: 360px;
    margin: auto;
  top: 50%;
position: absolute;
left: 50%;
transform: translate(-50%, -50%);
	backdrop-filter: blur(7px);
}
.form {
  position: relative;
  z-index: 1;
  background: #fafafab5;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 1px 3px 16px 0px #00000047;
  border-radius: 10px;
      filter:none;
}
.form input {
  font-family: "jf flat", sans-serif;
  outline: 0;
  background-color: #00000000;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
          border-bottom: solid;
        border-width: 2px;
        border-color: #9d9898;
		filter:none;
}
.form input[type="email"] {
  font-family: "jf flat", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;

    font-family: 'JF Flat';
	filter:none;
}
.form input[type="email"]:hover,.form input[type="email"]:active,.form input[type="email"]:focus {
  background: #43A047;
  filter:none;
}

.form input[type="submit"]{
  background: linear-gradient(135deg, #0077B6, #0096C7,#03AFD1,#4896E4);
  border:none;
  border-radius:10px;
  color:#ffffffeb;
  box-shadow: 0px 4px 6px 0px #00000042;
  cursor: pointer;
      background-size: 300% 100%;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
filter:none;

}

.form input[type="submit"]:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  filter:none;


}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;

    font-family: 'JF Flat';
	filter:none;
}
.form .message a {
  color: #067bba;
  text-decoration: none;

    font-family: 'JF Flat';
	filter:none;
}
.form .register-form {
  display: none;
  filter:none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
  filter:none;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
  filter:none;
}
.container .info {
  margin: 50px auto;
  text-align: center;

    font-family: 'JF Flat';
	filter:none;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
  filter:none;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;

    font-family: 'JF Flat';
	filter:none;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
  filter:none;
}
.container .info span .fa {
  color: #EF3B3A;

    font-family: 'JF Flat';
	filter:none;
}
body {
background:#eeeef2;
  font-family: 'jf flat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 overflow: hidden;

}
@media only screen and (max-width: 920px) {

.login-page {
  margin-top: 15%;
}

}
