.topbar{

  background: linear-gradient(135deg, #0096C7, #0077B6);
      width: 200px;
      height: 100%;
      top: 0px;
      position: fixed;
      left: 0;
      box-shadow: 1px 3px 16px 0px #00000047;
    }
#logoutbtn{

  font-size: 30px;
      padding: 5px;
      margin-top: 10px;
      cursor: pointer;
}

#logintbtn{

  font-size: 23px;
  padding: 5px;
}

#my-profilebtn{
  font-size: 30px;
      padding: 5px;
      margin-top: 10px;
      color:black;
}
.nav{
display: grid;

}
#searchnav{

  position: relative;
  display: inline;
}
