@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(//db.onlinewebfonts.com/c/7d411bb0357d6fd29347455b7d207995?family=JF+Flat);

a{
  text-decoration: none;
}

*{
  outline: none;
}
.defaultform{
  margin: 0;
}


.fa-sign-out:before {
    content: "\f08b";
    background: #f35176;
    padding: 9px 10px;
    border-radius: 35px;
    font-size: 22px;
}
.fa-search:before {
    content: "\f002";
    margin-right: 0px;
    background: #ff9beeed;
    padding: 7px 9px;
    border-radius: 35px;
    font-size: 22px;
}
.fa-briefcase:before {
    content: "\f0b1";
    background: #91bdff;
    padding: 7px 8px;
    border-radius: 35px;
    font-size: 21px;
}
.fa-user:before {
    content: "\f007";
    background: #7ad87e;
    padding: 5px 9px;
    border-radius: 35px;
}
.fa-user:before {
    content: "\f007";
    background: #7ad87e;
    padding: 5px 9px;
    border-radius: 35px;
}
.fa-user-plus:before {
    content: "\f234";
    background: #ffba89;
    padding: 8px 7px;
    border-radius: 35px;
    font-size: 21px;
}

.fa-sign-in:before {
    content: "\f090";
    background: #7ad87e;
    padding: 6px 9px;
    border-radius: 35px;
}

.topbar{

  background: #008ffb;
  font-family: 'DroidArabicKufiRegular';
      width: 200px;
      height: 100%;
      top: 0px;
      position: fixed;
      left: 0;
      box-shadow: 0px 3px 10px 0px #00000038;
      transition: all .4s ease-in-out;
      z-index: 3;
    }
.foot{

  width: 100%;
  height: 60px;
  display: inline-flex;
  position: absolute;
    bottom: 0;

}
#textarea{
  width: 78%;
  height: 140px;
}
.foottxt{
  margin: 0;
  font-size: 14px;
  color: white;
}
.report{

  width: 50%;
      height: 100%;
      display: inline-block;
      text-align: center;
        padding-top: 4px;
}
.policy{
  width: 65%;
  height: 100%;
  display: inline-block;
  text-align: center;
    padding-top: 4px;
}

.policy:hover, .report:hover{
  background: #0000002b;
  border-radius: 6px;
  cursor: pointer;
}
.policytxt{
  direction: rtl;
  margin-right: 15px;
    margin-top: 35px;
}

    .fa-user:before {
    content: "\f007";
    margin-right: 6px;}


    .fa-search:before {
      content: "\f002";
      margin-right: 0px;
      }


.logo{
  height: 80px;
      width: 80px;
      display: block;
      margin: auto;
      border-radius: 10px;
      margin-top: 10px;
}
.logo_txt{
  font-style: 'jf flat';
  font-size: 18px;
  color: white;
text-align: center;
margin:0;
}

#logoutbtn{

  font-size: 26px;
      padding: 10px;
      margin-top: 10px;
      cursor: pointer;
      color: #edf6fc;
      border-bottom: 1px solid #bcbcbd;
      width: -moz-available;          /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
      width: fill-available;


}

#logoutbtn:hover{
  background: #0000002b;
  border-radius: 6px;
  border : none;
}

#logintbtn{

  font-size: 23px;
  padding: 10px;
}

#my-profilebtn{
  font-size: 26px;
  padding: 10px;
  color: #edf6fc;
  text-decoration: none;
  border-bottom: 1px solid #bcbcbd;


}


#my-profilebtn:hover{
  background: #0000002b;
  border-radius: 6px;
  border : none;
}
.nav{
  display: grid;
  padding-left: 0px;
  margin-top: 10px;

}
#searchnav{

  position: relative;
      display: inline;
      font-size: 26px;
      cursor: pointer;
}

.navbartxt{

  color: #edf6fc;
      font-size: 20px;
      font-family: 'DroidArabicKufiRegular';
      margin-left: 15px;
      text-decoration: none;
}


#searchnav2{
  text-decoration: none;
  cursor: pointer;
  color: #edf6fc;
  margin-top: 10px;
  border-bottom: 1px solid #bcbcbd;;
      padding: 7px 10px;

}

#searchnav2:hover{
  background: #0000002b;
  border : none;
  border-radius: 6px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  backdrop-filter: blur(5px);
}

.modal-contentp,.modal-contentr {
  background-color: #FAFAFA;
      margin: 1% auto;
      width: 50%;
      border-radius: inherit;
      padding-top: 0.625em;
      padding-bottom: 1.5625em;
      padding-left: 1.5625em;
      padding-right: 1.5625em;
      border-radius: 0.9375em;
      box-shadow: 0em 0.25em 1.25em 0em #0000006b;
}
.modal-contentr {
    margin: 10% auto;
  }

.closepolicy,.closereport{
  color: #aaa;
  float: right;
  font-size: 1.75em;
  font-weight: bold;
}

.closepolicy:hover,.closepolicy:focus,.closereport:hover,.closereport:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.btnstyle{
  background: linear-gradient(135deg, #0077B6, #0096C7,#03AFD1,#4896E4);
  border-radius: 0.25em;
  padding: 0.3125em;
  cursor: pointer;
  color: #ffffffeb;
  background-size: 300% 100%;
moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
border: none;
font-family: 'DroidArabicKufiRegular';

}

#sendreport{
  display: block;
    float: right;
    margin-top: 94px;
    margin-right: 20px;
}

.input{

      margin-top: 0.4375em;
      height: 1.5625em;
      border: none;
      width: 300px;
      padding-left: 0.9375em;
      border: none;
      background-color: #00000000;
      border-bottom: grey 2px solid;
      border-color: #9d9898;
      font-family: 'DroidArabicKufiRegular';
}

@media only screen and (max-width: 920px) {
  .topbar {
      background: #008ffb;
      width: 100%;
      height: 60px;
      top: 0px;
      position: fixed;
      left: 0;
      box-shadow: 0px 3px 10px 0px #00000038;
      z-index: 5;
  }
  .logo{
    display: none;
  }

  .logo_txt{
display: none;

}
.foot{
display: none;
}
  .nav {
display: flex;
padding-left: 0px;
margin: auto;
justify-content: center;
}
#searchnav2{
border: none;
}
#logoutbtn{
border: none;
}
#my-profilebtn{
  padding: 17px 10px;
  border: none;
}
}
@media only screen and (max-width: 500px) {
  .modal-contentr , .modal-contentp{
    margin-top: 35%;
    width : 85%;
  }
}
@media only screen and (max-width: 370px) {
  .nav {
    transition: all .4s ease-in-out;
    transform: scale(0.8);
}
}
